.header{

position:fixed;

top:15px;

left:50%;

transform:translateX(-50%);

width:95%;

padding:18px 45px;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(8,15,30,.65);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.12);

border-radius:18px;

box-shadow:0 10px 35px rgba(0,0,0,.35);

z-index:1000;

transition:.4s;

}
